<section class="w-50 mx-auto">
    <mat-card class="mt-5">
        <div class="d-flex justify-content-end">
            <button mat-icon-button (click)="editMode = !editMode">
                <mat-icon>create</mat-icon>
            </button>
        </div>
        <div *ngIf="!editMode; else profileEdit">
            <p class="font-weight-bold">Name</p>
            <p [innerHTML]="user | fullname"></p>
            <p class="font-weight-bold">Address</p>
            <dl *ngIf="user.address">
                <dd [innerHTML]="user.address.address1"></dd>
                <dd [innerHTML]="user.address.address2"></dd>
                <dd [innerHTML]="user.address.address3"></dd>
                <dd [innerHTML]="user.address.city"></dd>
                <dd [innerHTML]="user.address.state"></dd>
                <dd [innerHTML]="user.address.postal"></dd>
                <dd [innerHTML]="user.address.country"></dd>
            </dl>
            <p class="font-weight-bold">Birthdate</p>
            <p [innerHTML]="user.personalInformation.birthdate | calendar"></p>
            <!-- <p [innerHTML]="user.alternateEmail"></p> -->
        </div>
        <ng-template #profileEdit>
            <div class="row">
                <div class="col-md-6 col-sm-12">

                    <mat-form-field>
                        <mat-label>First Name</mat-label>
                        <input matInput [(ngModel)]="user.firstName">
                    </mat-form-field>
                </div>
                <div class="col-md-6 col-sm-12">
                    <mat-form-field>
                        <mat-label>Last Name</mat-label>
                        <input matInput [(ngModel)]="user.lastName">
                    </mat-form-field>
                </div>
                <div class="col-md-4 col-sm-12">
                    <mat-form-field>
                        <mat-label>Address 1</mat-label>
                        <input matInput [(ngModel)]="user.address.address1">
                    </mat-form-field>
                </div>
                <div class="col-md-4 col-sm-12">

                    <mat-form-field>
                        <mat-label>Address 2</mat-label>
                        <input matInput [(ngModel)]="user.address.address2">
                    </mat-form-field>
                </div>
                <div class="col-md-4 col-sm-12">
                    <mat-form-field>
                        <mat-label>Address 3</mat-label>
                        <input matInput [(ngModel)]="user.address.address3">
                    </mat-form-field>
                </div>
                <div class="col-md-4 col-sm-12">

                    <mat-form-field>
                        <mat-label>City</mat-label>
                        <input matInput [(ngModel)]="user.address.city">
                    </mat-form-field>
                </div>
                <div class="col-md-4 col-sm-12">

                    <mat-form-field>
                        <mat-label>State</mat-label>
                        <input matInput [(ngModel)]="user.address.state">
                    </mat-form-field>
                </div>
                <div class="col-md-4 col-sm-12">
                    <mat-form-field>
                        <mat-label>Postal</mat-label>
                        <input matInput [(ngModel)]="user.address.postal">
                    </mat-form-field>
                </div>
                <div class="col-md-4 col-sm-12">
                    <mat-form-field>
                        <mat-label>Country</mat-label>
                        <input matInput [(ngModel)]="user.address.country">
                    </mat-form-field>
                </div>
                <!-- <mat-form-field>
                <mat-label>Profile Picture URL</mat-label>
                <input matInput [(ngModel)]="user.profilePicture">
            </mat-form-field> -->
                <div class="col-md-4 col-sm-12">
                    <mat-form-field appearance="fill">
                        <mat-label>Birth Date</mat-label>
                        <input matInput [matDatepicker]="birthday" [(ngModel)]="user.personalInformation.birthdate">
                        <mat-datepicker-toggle matSuffix [for]="birthday"></mat-datepicker-toggle>
                        <mat-datepicker #birthday></mat-datepicker>
                    </mat-form-field>
                </div>
                <!-- <mat-form-field>
                <mat-label>Alternate Email</mat-label>
                <input matInput [(ngModel)]="user.alternateEmail">
            </mat-form-field> -->
            </div>
            <div class="d-flex justify-content-end">
                <button class="action-button" mat-raised-button (click)="saveProfile()">Save</button>
            </div>
        </ng-template>
    </mat-card>
</section>