<nav id="app-nav">
    <mat-toolbar color="primary" class="d-flex justify-content-between align-items-center">
        <mat-nav-list class="d-flex">
            <!-- <button mat-icon-button color="accent" aria-label="Example icon-button with menu icon">
                <mat-icon>menu</mat-icon>
            </button> -->
            <a mat-list-item routerLink="/home">Home</a>
            <a mat-list-item routerLink="/daily">Daily</a>
        </mat-nav-list>
        <div class="d-flex">
            <img src="assets/images/HealthTrackerWide.png" alt="Health Tracker Icon" />
        </div>
        <div class="d-flex">
            <ng-container *ngIf="auth.isAuthenticated$ | async; else login">
                <button mat-button [matMenuTriggerFor]="userMenu">{{ user.name }} <mat-icon>keyboard_arrow_down</mat-icon></button>
                <mat-menu #userMenu>
                    <a routerLink="/profile" mat-menu-item>Profile</a>
                    <button (click)="auth.logout()" mat-menu-item>Logout</button>
                </mat-menu>
            </ng-container>
            <ng-template #login>
                <button mat-button (click)="auth.loginWithRedirect()">Login</button>
            </ng-template>
        </div>
    </mat-toolbar>
</nav>