<nav id="app-nav">
    <mat-toolbar color="primary" class="d-flex justify-content-between align-items-center">
        <mat-nav-list class="d-flex">
            <!-- <button mat-icon-button color="accent" aria-label="Example icon-button with menu icon">
                <mat-icon>menu</mat-icon>
            </button> -->
            <a mat-list-item routerLink="/home">Home</a>
            <a mat-list-item routerLink="/daily">Daily</a>
            <a mat-list-item routerLink="/keith">Keith</a>
        </mat-nav-list>
        <div class="d-flex">
            <img src="assets/images/HealthTrackerWide.png" alt="Health Tracker Icon" />
        </div>
        <div class="d-flex">
            <button mat-button *ngIf="auth.isAuthenticated$ | async; else login" (click)="auth.logout()">Logout</button>
            <ng-template #login>
                <button mat-button (click)="auth.loginWithRedirect()">Login</button>
            </ng-template>
        </div>
    </mat-toolbar>
</nav>