<div class="form-pad">
  <form>
    <div>
      Date
    </div>
    <div class="section-container">
      <h2>Morning Routine</h2>
      <hr />
      <div class="checkbox-container">
        Yes
        <div>
          <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
          <label class="form-check-label" for="flexCheckDefault">Affirmations 👍</label>
        </div>
        <div>
          <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
          <label class="form-check-label" for="flexCheckDefault">Meditation 🙏</label>
        </div>
        <div>
          <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
          <label class="form-check-label" for="flexCheckDefault">Stretching 🙆‍♂️</label>
        </div>
        <div>
          <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
          <label class="form-check-label" for="flexCheckDefault">Thank you 😊</label>
        </div>
        <div>
          <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
          <label class="form-check-label" for="flexCheckDefault">30 Minutes 📵</label>
        </div>
      </div>
    </div>

    <div class="section-container">
      <h2>Daily Data</h2>
      <hr />

      <div class="slider-outer-container">
        <label for="physical-activity" class="form-label">Physical Activity</label>

        <div class="slider-container">
          <div>0 💤 </div>
          <input type="range" class="form-range" min="0" max="10" id="physical-activity">
          <div> 10 🏃</div>
        </div>
      </div>
      <div class="slider-outer-container">
        <label for="physical-activity" class="form-label">Outdoor Activity</label>

        <div class="slider-container">
          <div>0 ⬛️ </div>
          <input type="range" class="form-range" min="0" max="10" id="physical-activity">
          <div> 10 ⛰🌳🏝</div>
        </div>
      </div>
      <div class="slider-outer-container">
        <label for="physical-activity" class="form-label">Mood</label>

        <div class="slider-container">
          <div>0 😢 </div>
          <input type="range" class="form-range" min="0" max="10" id="physical-activity">
          <div> 10 😀</div>
        </div>
      </div>

    </div>

  </form>
</div>